@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --body-background-color: #f5f5f7;
  --nav-background-color: #272729;
  --nav-text-color: rgb(255, 255, 255, 0.92);
  --primary-header-color: #1d1d1f;
  --secondary-header-color: #bf4800;
  --paragraph-color: #86868b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

body {
  background-color: var(--body-background-color);
  font-family: "nunito", sans-serif;
}

header {
  position: sticky;
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
}

.header--container {
  width: 100%;
  min-width: 1024px;
  height: 44px;
  min-height: 44px;
}

.header--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}

.header--content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
